<div class="my_navbar navbar navbar-expand-md">
    <a href="{% url 'homePage' %}" class="navbar-brand my_brand">Grocery List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarContent" aria-controls="navbarContent"
    aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <div class="navbar-nav ml-auto">
            <a href="{% url 'homePage' %}" class="nav-item nav-link my_links">Home</a>
        </div>
    </div>
</div>