{% extends 'base.html' %}

{% block content %}
<div class="my_profile">
    <div class="account_img img_div">
        <img class="account-img rounded-circle" src="{{ user.profile.image.url }}">
    </div>
    <div class="profile_info">
        <h2>{{ user.username }}</h2>
        <p>{{ user.email }}</p>
    </div>
    <div class="profile_btn_div">
        <button type="submit" class="btn btn-primary btn-sm"><a class="profile_btn" href="{% url 'postCreate' %}">New Post</a></button>
        <button type="submit" class="btn btn-primary btn-sm"><a class="profile_btn" href="{% url 'userPosts' user.username %}">See all Posts</a></button>
    </div>
</div>
{% endblock %}
