body {
  background-image: url(../img/shattered.png);
}

.signuppage {
    margin-left: 300px;
}

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(219, 70, 70, 0.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: aqua;
}