{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title> About </title>
</head>

{% block content %}

<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus risus felis, venenatis id porttitor ac, venenatis
                vel urna. Integer ac pharetra purus. Vestibulum aliquam luctus purus, non pellentesque lacus tincidunt ut. Cras
                dignissim volutpat ipsum. Donec posuere dignissim velit, eu blandit sem lobortis at. Proin sodales arcu at felis
                elementum, at porta nisi sollicitudin. Suspendisse viverra pharetra lectus ut ornare. Vivamus ultrices metus et orci
                rhoncus, quis sagittis ligula fermentum. Sed posuere turpis quis volutpat facilisis. Suspendisse lobortis velit non
                augue imperdiet, ut maximus nisl scelerisque. Aliquam pellentesque turpis sed sapien tincidunt egestas. Fusce est
                lorem, molestie sit amet est nec, faucibus hendrerit arcu. Cras nec nunc ac eros vehicula porta ut et metus. Ut
                facilisis dolor mi, a aliquam sapien eleifend id.
                
                Vivamus metus velit, sagittis id lobortis ut, fermentum in dolor. Vivamus cursus iaculis velit at tempus. Proin
                ultrices, neque in volutpat luctus, elit neque laoreet tellus, ut dignissim elit leo et arcu. Nunc in lacinia nulla.
                Etiam porttitor ante eu eros pharetra, sit amet tincidunt nisl dapibus. Ut commodo, justo vitae volutpat dapibus,
                mauris justo volutpat libero, at facilisis urna augue vel lorem. Vestibulum in eros elementum, sagittis metus in,
                mollis tellus. Sed dapibus iaculis odio, at aliquet neque sodales a. Curabitur et accumsan magna. Vestibulum eros sem,
                auctor quis faucibus id, faucibus eu erat. Cras lectus magna, rhoncus eget est et, efficitur aliquam lacus. Vivamus
                blandit ut enim ac luctus. Mauris maximus blandit mattis. Duis volutpat purus metus. In quis suscipit dui.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">aboutaboutaboutaboutaboutabout</p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#">
            </a>
        </div>
    </div>
</section>

{% endblock %}