{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

{% block content %}
</head>
<div class="about">
<title>About</title>
    <div class="aboutcontainer">
        <h1 class="text-center text-uppercase text-white">About</h1>
    </div>
                <p class="lead">
                    <p>ElevenFifty music is a Indianapolis-based music blog founded in 2019. Its primary focus is posting music we enjoy and talking about it with people.
                        <br>
                        <br>
                    
                    The company was created by _______ in 2019, who saw a void in  music and artists getting who weren't getting the credit they deserve on blogs and websites.
                        <br>
                     _____ EFMusic's managing editor and other full-time employee, joined the company in 2019 and has been working alongside eachother since then. <br>“We really just want to post music ______ told the blog in 2019. "Nobody listen's to good music anymore so we made this site."
                        <br>
                        <br>
                    EFMusic has been instrumental in the recent rise of the music scene, having helped cultivate the
                    careers of stars such as
                    <br> <b><u>The Brogrammer's,</u> <u>("Hello World's"),</u> <u>Git R Dun,</u> <u>Pip'd</u></b> — many of whom have
                    secured major label record deals and have earned millions of dollars in revenue.
                        <br>
                        <br>
                    
                    EFM's goal and main focus was to bring national attention to the music scene. In 2019
                    he told his rubber duck: “In my opinion, Python is way more underserved and has had way less of a movement than any other
                    language.
                        <br>
                        <br>    
                    Less than the Java's, less than the dotNets, and definitely less than HTML, [which] has been
                    running HelloWorld's for the past 10–12 years…” 
                        <br>
                        I always wanted to work in the [programming] business in some capacity, but being in Indianpolis—being in the Midwest—there’s not a lot of opportunity. So with EFM, I wanted to create a cool project.
                    </p>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}