{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

{% block content %}
</head>
<div class="about">
<title>About</title>
    <div class="aboutcontainer">
        <h1 class="text-center text-uppercase text-white">About</h1>
    </div>
                <p class="lead">
                    <p>Here at EFMusic we really enjoy making websites but our favorite it using CSS! options are endless and you can do so many awesome things to really make your webpage pop. I think everyone should learn to use CSS. It's super fun and easy to learn.we LOVE it.
                    </p>
                    
                    <p> Vivamus metus velit, sagittis id lobortis ut, fermentum in dolor. Vivamus cursus iaculis velit at tempus. Proin
                    ultrices, neque in volutpat luctus, elit neque laoreet tellus, ut dignissim elit leo et arcu. Nunc in lacinia nulla.
                    
                    </p>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}