{% extends 'base.html' %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title> ElevenFifty Music </title>
</head>


{% block content %}

{% if user.is_authenticated %}
Hi {{ user.username }}!
{% endif %}

<a href="post/new"><button type="submit">New Post</button></a>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


</head>

<body>

{% for post in posts %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <h3><a href="post/{{ post.id }}/">{{ post.title }}</h3></a>
            <h2>{{ post.content }}</h2>
          <p class="post-meta">Posted by {{ post.author }} on {{ post.date_posted|date:"F d, Y g:i a" }}</p>
        </div>
        <hr>
      </div>
    </div>
  </div>

{% endfor %}

</body>
</html>
{% endblock %}
