{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div id="home_row" class="row">
        <div class="col-sm-12 col-md-6">
            <div id="home_card" class="card" style="width:260px;">
                <div id="home_img" class="card-img-top"></div>
                <div class="card-body">
                    <h5 class="card-title"> Music</h5>
                    <p class="card-text">Check out some of our top picks
                    </p>
                </div>
            </div>
        </div>
        <div id="home_content" class="col-sm-12 col-md-6">
            <div id="home_inner">
                <h3>Music blog!</h3>
                <p>
                    This is our music blog.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="home_lose_track">
    <div class="container">
        <h4>Check out our top picks!</h4>
        <br>
        <p style="margin:0;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed culpa aliquam quam labore unde. Deleniti,
            ipsum sed corporis, officiis consequuntur dicta quisquam soluta adipisci ducimus molestiae libero quidem
            illo architecto.
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque placeat ea non sint fuga quasi ut, ad in
            architecto labore distinctio at necessitatibus suscipit a maiores impedit incidunt, quia mollitia!
        </p>
    </div>
</div>
<div class="home_recipes">
    <div class="container">
        <h4 style="text-align:right;">Get Recipe Suggestions</h4>
        <br>
        <p>
            Maybe one day, when I have more time, I will refactor this application with the ability to have more than
            one list, track your ingredients list by the recipes you made, and order groceries based on the new recipes
            you choose for the future.
            <br>
            <br>
            I feel like this application really will help people minimize how much money they spend on groceries, and
            help regulate how much food we need to produce. This app will limit waste, and increase the ease of healthy
            choices.
        </p>
    </div>
</div>
<div id="my_carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-block w-100 carousel_image_1"></div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 carousel_image_2"></div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 carousel_image_3"></div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 carousel_image_4"></div>
        </div>
    </div>
</div>


{% endblock %}