{% extends 'base.html' %}
{% block content %}
    {% if not user.is_authenticated %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Yikes!</strong> looks like you aren't <a href="{% url 'login' %}" class="alert-link">logged in</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        {% if html_picks %}
        <div class="carousel-inner" role="listbox">
            {% for song in html_picks %}
                {% if song == html_picks.0 %}
                    <div class="carousel-item active">
                        <div class="view">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="player" src="https://www.youtube.com/embed/{{ song.embed }}" allow="accelerometer; encrypted-media; gyroscope;"></iframe>
                            </div>
                        </div>
                        <div class="carousel-caption">
                            <div class="animated fadeInDown">
                                <h3 class="h3-responsive">{{ song.song_title }}</h3>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <div class="view">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="player" src="https://www.youtube.com/embed/{{ song.embed }}" allow="accelerometer; encrypted-media; gyroscope;"></iframe>
                            </div>
                        </div>
                        <div class="carousel-caption">
                            <div class="animated fadeInDown">
                                <h3 class="h3-responsive">{{ song.song_title }}</h3>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br>
    <br>
<div>
    <!--Table for Top Picks-->
{% if html_picks %}
    {% for song in html_picks %}
        {% if song == html_picks.0 %}
            <div class="card navbar-dark bg-dark" style="max-width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3>{{ song.song_title }}</h3>
                            <h2><a class="homeTableLinks text-white bg-dark" target=blank href="{{ song.link }}">{{ song.link }}</a></h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body center_div">
                            <a class="homeTableTitles text-white bg-dark" href="/indiv_vid/">
                                <h1>Comments</h1>
                                <i class="fas fa-comments fa-5x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card navbar-dark bg-dark mt-3" style="max-width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="card-body">
                        <h3>{{ song.song_title }}</h3>
                        <h2><a class="homeTableLinks text-white bg-dark" target=blank href="{{ song.link }}">{{ song.link }}</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}
