{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> ElevenFifty Music </title>
  </head>


{% block content %}


{% if user.is_authenticated %}
 Hi {{ user.username }}!
 <p><a href="{% url 'logout' %}">logout</a></p>
 <p><a href="{% url 'password_reset' %}">reset password</a></p>
{% else %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Yikes!</strong> looks like you aren't <a href="{% url 'login' %}" class="alert-link">logged in</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<p class="bg-dark text-white"></p>
<div class="container">
    <div id="home_row" class="row">
        <div class="col-sm-12 col-md-6">
            </div>
        </div>
        <div id="home_content" class="col-sm-12 col-md-6">
            <div id="home_inner">
                <h2>Editors' Picks</h2>
            </div>
        </div>
    </div>
</div>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9_gkpYORQLU" allowfullscreen></iframe>
</div>
<br>
<div class="list_table">
    <table class="table table-bordered table-dark">
        <thead class="thead-light">
            <tr class="table_header">
                <th class="table_head" scope="col">Title</th>
                <th class="table_head" scope="col">Link</th>
            </tr>
        </thead>
        <tbody>

            {% if html_picks %}
            {% for item in html_picks %}
            <tr>
            <tr>
                <td>{{ item.song_title }}</td>
                <td><a href="{{ item.link }}" target="_blank">{{ item.link }}</a></td>
            </tr>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
