{% extends 'base.html' %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title> ElevenFifty Music </title>
</head>


{% block content %}

{% if user.is_authenticated %}
Hi {{ user.username }}!
<div class="container">
  <form action="#" class="add_form" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="user">{{ user }}</label>
      <input type="text" name="blog" class="form-control" placeholder="Enter your post here">
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success form_submit">
    </div>
  </form>
</div>
{% else %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Yikes!</strong> looks like you aren't <a href="{% url 'login' %}" class="alert-link">logged in</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="list_table">
  <table class="table">
    <thead class="thead-dark">
      <tr class="table_header">
        <th class="table_head" scope="col">User</th>
        <th class="table_head" scope="col">Title</th>
        <th class="table_head" scope="col">Post</th>
        <th class="table_head" scope="col">Date</th>
      </tr>
    </thead>
    <tbody>


      <tr>
      <tr>
        <td>{{ object.author }}</td>
        <td>{{ object.title }}</td>
        <td>{{ object.content }}</td>
        <td>{{ object.date_posted|date:"F d, Y g:i a" }}</td>
      </tr>
      </tr>
    </tbody>
  </table>
</div>

{{% if True %}}
<a class="btn btn-outline-danger" href="post/{{ post.id }}/delete">Delete?</a>

{% endblock %}
